.lower-tag-container {
   position: fixed;
   bottom: 0;
   width: 100vw;
   z-index: 998;;
   background:rgb(255, 255, 255);
   color: rgb(61, 61, 61);
   font-size: 1.5vw;
   text-align: center;
   height: fit-content;
   padding: 5px;
   opacity:0;
   font-family: 'Montserrat', sans-serif;
   animation: fade-in .5s;
   animation-fill-mode: forwards;
   animation-delay: 2.5s;
}