.title-card-container {
   width: fit-content;
   right: 10%;
   margin-bottom: 2%;
   text-align: right;
   font-size: 2vw;
   position: relative;
   color: rgb(54, 54, 54);
   transition: all .5s;
   -webkit-tap-highlight-color: transparent;
   cursor: pointer;
}

.title-card-container:hover {
   color: rgb(93, 189, 192);
   right: 7%;
}

/* .title-card-container::before {
   content: '';
   position: absolute;
   width: 100%;
   transform: scaleX(0);
   height: 2px;
   bottom: 0;
   left: 0;
   background-color: rgb(151, 151, 151);
   
   transform-origin: bottom center;
   transition: transform .4s ease-in-out;
}

.title-card-container:hover::before {
   transform: scaleX(1.01);
   transition: transform .4s ease-in-out;
   transform-origin: center ;
   background-color: rgb(151, 151, 151);

}

.title-card-container::after {
   content: '';
   position: absolute;
   width: 100%;
   transform: scaleX(0);
   height: 2px;
   top: 0;
   left: 0;
   background-color: rgb(151, 151, 151);
   transform-origin: top center;
   transition: transform .4s ease-in-out;
}

.title-card-container:hover::after {
   transform: scaleX(1.01);
   transition: transform .4s ease-in-out;
   transform-origin: bottom center;
   background-color: rgb(151, 151, 151);

} */


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
   .title-card-container {
      right: 3%;
      font-size: 4vw;
      padding: 5px;
      user-select: none;
      width: 53%;;
      /* border: 2px solid red; */
      font-family: 'montserrat';
      text-align: center;
   }
   .title-card-container:hover {
      right: 3%;
      background: rgb(106, 192, 207);
      color: white;
      border-radius: 5px;
   }
}