.model-step-card-container {
   width: 100%;
   height: 25%;
   border-right: 3px solid rgb(63, 63, 63);
   position: relative;
}

.step-1 {
   background: rgb(216, 112, 112)
}

.step-2 {
   background: rgb(247, 188, 120)
}

.step-3 {
   background: rgb(146, 216, 146)
}

.final-card {
   border-right: none;
}

.model-step-card-front {
   position: absolute;
   height: 20%;
   width: 100%;
   background: green;
   animation: fade-in .5s;
}

.stepName {
   font-size: 3vw;
   border-radius: .5vw;
   padding: 5%;
   width: 40%;
   color: rgb(255, 255, 255);
   position: relative;
   text-align: center;
   top: 50%;
   animation: fade-in 1s;
   left: 50%;
   transform: translate(-50%, -50%);
}

.model-step-card-back {
   height: 100%;
   width: 93%;
   top: 50%;
   position: relative;
   text-align: center;
   left: 50%;
   transform: translate(-50%, -50%);
   animation: fade-in .5s;
   font-family: 'Montserrat', sans-serif;

}

.step-content-container {
   height: fit-content;
   width: 100%;
   font-size: 1.1vw;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.step-content span {
   font-size: 1.35vw !important;
   font-style: normal !important;
   /* color: rgb(83, 189, 183)!important; */
   font-weight: bold;
   text-decoration: none !important;
}