.what-done-card-container {
   width: 30%;
   border-radius: .5vw;
   margin: 10px;
   position: relative;
}

.what-done-card-front {
   position: absolute;
   height: 100%;
   width: 100%;
   opacity: 0;
   animation: fade-in 1s ease;
   font-size: 2vw;
   animation-delay: .1s;
   animation-fill-mode: forwards;
}

.card-front-title {
   position: absolute;
   top: 50%;
   width: 85%;;
   text-align: center;
   padding-top: 6%;
   padding-bottom:6%;
   font-size: 2.25vw;
   border-radius: .25vw;
   color: rgb(255, 255, 255);
   /* background: rgb(83, 159, 189); */
   background: #7bdbe2;
   left: 50%;
   transform: translate(-50%, -50%);
}

.what-done-card-back {
   height: 100%;
   position: absolute;
   top: 5%;
   width: 100%;
   font-family: 'Montserrat', sans-serif;
   cursor: default;
   opacity: 0;
   animation: fade-in 1s ease;
   animation-delay: .1s;
   animation-fill-mode: forwards;
}

.back-title {
   font-size: 1.25vw;
   position: relative;
   width: 100%;
   top: 2%;
   text-align: center;
}

.back-title span {
   font-size: 2vw;
   font-weight: bold;
   color: rgb(89, 209, 209);
   font-family: 'Playfair Display', serif;
}

.back-content {
   position: relative;
   margin-top: 3%;
   font-size: 1vw;
   text-align: justify;
   padding: 2%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
   .what-done-card-container {
      width: 100%;
      min-width: 85vw;
      position: relative;
   }
   .card-front-title {
      width: 70%;
      font-size: 10vw;
      border-radius: 5px;
      box-shadow: 2px 2px 10px black;
   }
   .back-content {
      font-size: 3.75vw;
      margin-top: 0;
   }
   .back-title {
      font-size: 14px
   }
   .back-title span {
      font-size: 38px;
   }
   .what-done-card-back {
      /* border: 2px solid rgb(168, 168, 168); */
      top: 50%;
      transform: translateY(-50%);
      width: 95%;
      border-radius: 6px;
      /* background:#d1fff9; */
      height: fit-content;
      padding: 1.5%;
      overflow: visible !important;
      z-index: 999;
   }
}