@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");

.who-we-are-container {
   height: 100%;
   width: 92%;
   position: relative;
   left: 5%;
   display: flex;
   /* justify-content: center; */
   align-items: center;
   animation: fade-in 0.75s;
}

.list-of-team-members {
   flex: 1;
   display: flex;
   height: 100%;
   flex-direction: column;
   justify-content: center;
   align-items: flex-end;
   width: 100%;
}

.expanded-panel {
   flex: 2;
   border-left: 5px solid rgb(122, 122, 122);
   height: 26vw;
   position: relative;
   top: 0;
}

.panel-content {
   padding-left: 2%;
   position: absolute;
   top: 0%;
}

.panel-name {
   width: fit-content;
   color: rgb(126, 203, 206);
   font-size: 4.5vw;
   position: relative
}

.responsibility {
   font-size: 2vw;
   color: rgb(70, 70, 70);
   font-style: italic;
}

.content {
   font-size: 1.15vw;
   position: relative;
   color: rgb(70, 70, 70);
   z-index: 99;
   margin-bottom: 2%;
}

.panel-content1 {
   margin-top: 2%;
}

.no-card-selected {
   color: rgb(163, 163, 163);
   background-color: rgb(73, 73, 73);
   box-shadow:  2px 2px 15px rgb(53, 53, 53);
   position: absolute;
   top: 30%;
   padding: 2%;
   left: 10%;
   font-size: 4vw;
   border-radius: 0.5vw;
}

.mugshot {
   position: absolute;
   height: 20vh;
   top: -10%;
   right: 10%;
   border-radius: 0.5vw;
   max-height: 12vw;
}
