@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");

.who-we-are-container {
   height: 100%;
   width: 92%;
   position: relative;
   left: 5%;
   display: flex;
   align-items: center;
   animation: fade-in 0.75s;
}

.list-of-team-members {
   flex: 1;
   display: flex;
   height:25%;
   flex-direction: column;
   justify-content: center;
   align-items: flex-end;
   border-right: 5px solid rgb(179, 179, 179);
   width: 100%;
}

.expanded-panel {
   flex: 2.5;
   height: 26vw;
   position: relative;
   top: -2%;
   animation: fade-in 1s;
}

.panel-content {
   padding-left: 2%;
   position: absolute;
   width: 65%;
   top: 0%;
}

.panel-name {
   width: fit-content;
   color: rgb(126, 203, 206);
   font-size: 4.5vw;
   position: relative
}

.responsibility {
   font-size: 2vw;
   color: rgb(70, 70, 70);
   font-style: italic;
}

.content {
   font-size: 1.15vw;
   position: relative;
   color: rgb(70, 70, 70);
   z-index: 99;
   margin-bottom: 2%;
}

.panel-content1 {
   margin-top: 2%;
}

.no-card-selected {
   color: rgb(255, 255, 255);
   background-color: rgb(41, 41, 41);
   background: rgb(255, 212, 92);
   background: rgb(83, 189, 183);
   box-shadow:  2px 2px 15px rgb(53, 53, 53);
   position: absolute;
   top: 35%;
   padding: 2%;
   left: 10%;
   font-size: 4vw;
   border-radius: 0.5vw;
}

.mugshot {
   position: absolute;
   height: 17vw;
   top: 15%;
   right: 4%;
   border-radius: 0.5vw;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
   .who-we-are-container {
      flex-direction: column;
   }
   .no-card-selected {
      left: 50%;
      transform: translateX(-50%);
      font-size: 45px;
      background: rgb(106, 192, 207);
      background: rgb(123, 175, 196);  
      top: 10%;
      width: fit-content;
      text-align: center;
   }
   .list-of-team-members {
      align-items: center;
      justify-content: flex-end;
      margin-bottom: 5%;
      flex: .65;
      border: none;
   }
   .expanded-panel {
      flex: 1.2;
      top: 0;
   }
   .panel-content {
      width: 90vw;
      position: relative;
      margin-top: 0%;
      left: -2%;
      padding-left: 0;
   }
   .content {
      width: 65%;
      font-size: 12px;
   }
   .mugshot {
      height: 30vw;
      right: 0%;
   }
   .panel-name {
      font-size: 25px
   }
   .responsibility {
      font-size: 12px
   }
}