@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.splash-container {
   width: 95%;
   height: 100%;
   background: rgb(218, 218, 218);
   position: relative;
   left: 5%;
   display: flex;
   flex-direction: row;
   font-size: 8vw;
}

.tagline {
   font-size: 1.75vw;
   position: absolute;
   bottom: 40%;
   color: rgb(0, 0, 0);
   right: 2%;
   animation: fade-in 1s;
   animation-delay: 1.75s;
   opacity: 0;
   animation-fill-mode: forwards;
   animation-fill-mode: forwards;
   font-family: "Montserrat", sans-serif;
}

.splash-left-section {
   background: rgb(255, 255, 255);;
   color: rgb(66, 66, 66);
   color: rgb(83, 189, 183);;
   height: 100%;
   position: relative;
   width: 100%;
   flex: 1.25;
   z-index: 10;
}

.splash-left-section span {
   position: absolute;
   bottom: 43%;
   right: 0;
   opacity: 0;
   animation: fade-in-and-shift-left 1s;
   animation-delay: 1s;
   animation-fill-mode: forwards;
   z-index: 999;
}

.splash-right-section {
   color: white;
   height: 100%;
   text-align: left !important;
   position: relative;
   box-shadow: 2px 2px 20px rgb(0, 0, 0);
   width: 100%;
   flex: 1;
   background: rgb(83, 189, 183);
   z-index: 100;
}

.splash-right-section span {
   position: absolute;
   bottom: 32%;
   left: -100%;
   z-index: 100;
   animation: fade-in-and-shift-right 1s;
   animation-delay: 1s;
   animation-fill-mode: forwards;
}

@keyframes flex-change {
   0% {
      flex: 0;
   }
   100% {
      flex: 1;
   }
}

@keyframes fade-in-and-shift-left {
   0% {
      opacity: 0;
      right: -40%;
   }
   100% {
      opacity: 1;
      right: 1%;
   }
}

@keyframes fade-in-and-shift-right {
   0% {
      opacity: 0;
      left: -70%;
   }
   100% {
      opacity: 1;
      left: 1%;
   }
}

@keyframes background-color-entrance {
   0% {
      background: white;
   }
   100% {
      background: rgb(43, 43, 43);
   }
}

@keyframes border-shift {
   0% {
      border-right: 10px solid rgb(255, 191, 148);
   }
   25% {
      border-right: 10px solid rgb(241, 255, 48);;
   }
   50% {
      border-right: 10px solid rgb(233, 92, 170);;
   }
   75% {
      border-right: 10px solid rgb(83, 231, 115);;
   }
   100% {
      border-right: 10px solid rgb(0, 255, 213);;
   }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
   .splash-container {
      height: 100vh;
   }
   .splash-left-section {
      flex: 1.15
   }
   .splash-left-section span {
      bottom: 50%;
      font-size: 40px;
   }
   .splash-right-section span {
      font-size: 40px;
      bottom: 45%;
   }
   .tagline {
      font-size: 19px;
      z-index: 999;
      left: 0%;
      bottom: 20%;
      text-align: right;
      width: 90%;
   }
}