.what-we-do-container {
   height: 100%;
   width: 95%;
   position: relative;
   left: 5%;
}

.what-we-do-intro-larger {
   position: absolute;
   top: 9%;
   left: 3%;
   width: 88%;
   color: rgb(61, 61, 61);
   font-size: 2.2vw;
}

.what-we-do-container span {
   color: rgb(0, 0, 0);
   font-weight: bold;
   font-size: 2.75vw;
}

.what-we-do-intro-smaller {
   font-size: 1.6vw;
   width: 89%;
   position: absolute;
   color: rgb(61, 61, 61);
   top: 23%;
   left: 3%;
}

.what-we-do-intro-smaller span {
   font-size: 2.1vw
}

.three-step-model-container {
   position: absolute;
   top: 30%;
   left: 1%;
   border-radius: .5vw;
   height: 50%;
   width: 98%;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}

.arrow {
   flex: .5;
   margin-left: 2%;
   margin-right: 2%;
   font-size: 4vw;
   font-weight: bold;
   display: none;
   color: rgb(61, 126, 101);
}